* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}

header {
  padding: 40px;
  text-align: center;
  background: #13293d;
  color: #fff;
}

/* 
What happens when we set the display property to flex? 
TODO: Displays/creates different layout for different 
device sizes
*/
nav {
  display: flex;
  background-color: #d8a47f;
}

nav a {
  color: #13293d;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/* 
What is the flex-wrap property? 
TODO:The flex-wrap CSS property sets whether 
flex items are forced onto one line or can wrap onto multiple lines. 
*/
main {
  display: flex;
  flex-wrap: wrap;
}

aside {
  flex: 1;
  background-color: #b9c6ae;
  padding: 80px;
  text-align: center;
}


footer {
  padding: 20px;
  text-align: center;
  background: #13293d;
  color: #fff;
}

/* 
What does the justify-content property do? 
TODO: defines how the browser distributes 
space between and around content items along 
the main-axis of a flex 
*/
.products {
  flex: 4;
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* 
What is the flex property a shorthand property for?
What is it doing here? 
TODO: flex shorthand property sets how a lex will 
grow, or shrink based on the space of the device.
>flex: 0 0 400px; sets flex-grow - 0, flex-shrink - 0, 
and flex-basis - 00px.

The flex-grow property specifies how much the item 
will grow relative to the rest of the flexible items
inside the same container.
The flex-shrink property specifies how the item will shrink.
The flex-basis property specifies the initial length 
of a flexible item.

*/
.card {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 10px;
  flex: 0 0 400px;
}

.card header {
  padding: 20px;
}

.card p {
  text-align: center;
}

.card img {
  width: 100%;
}

/* 
What does the flex-direction property define?
What is it doing here? 
TODO: Set the direction of the flexible items
inside the <div> element in reverse order: 
>The flexible items are displayed vertically, as a column
*/
@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}
